{{- define "main" -}}

{{ partial "page_header.html" . }}

<div class="universal-wrapper">
  {{ with .Content }}
  <div class="article-style" itemprop="articleBody">{{ . }}</div>
  {{ end }}

  {{ $pages := .Data.Pages }}
  {{ if .Params.sort_date_asc }}
    {{ .Scratch.Set "sorted_pages" (sort $pages "Date" "asc") }}
  {{ else }}
    {{ .Scratch.Set "sorted_pages" (sort $pages "Date" "desc") }}
  {{ end }}
  {{ $sorted_pages := .Scratch.Get "sorted_pages" }}
  {{ $paginator := .Paginate $sorted_pages }}

  {{ range $paginator.Pages }}
    {{ partial "li_card" . }}
  {{ end }}

  {{ partial "pagination" . }}
</div>

{{- end -}}

