{{/* Div wrapper around page links. */}}
{{/* The wrapper is hidden when the page has no link buttons. */}}

{{ $page := . }}
{{ $pdf_link := false }}
{{ $cite_link := false }}
{{ $slug := $page.File.ContentBaseName }}
{{ $resource := $page.Resources.GetMatch (printf "%s.pdf" $slug) }}
{{ with $resource }}
  {{ $pdf_link = true }}
{{ end }}

{{ $resource := $page.Resources.GetMatch "cite.bib" }}
{{ with $resource }}
  {{ $cite_link = true }}
{{ end }}

{{ if ( or
  $cite_link
  $pdf_link
  .Params.external_link
  .Params.url_preprint
  .Params.url_pdf
  .Params.url_slides
  .Params.url_video
  .Params.url_source
  .Params.url_code
  .Params.url_dataset
  .Params.url_poster
  .Params.url_project
  .Params.url_website
  .Params.links
  .Params.projects
  .Params.slides
  .Params.internal )}}
<div class="btn-links mb-3">
  {{ with .Params.external_link }}
  <a class="btn btn-outline-primary my-1" href="{{ . }}" target="_blank" rel="noopener">{{ i18n "open_project_site" }}</a>
  {{ end }}
  {{ partial "page_links" (dict "page" $page "is_list" 0) }}
</div>
{{ end }}
