{{/* Display author list. */}}

{{ $taxonomy := "authors" }}
{{ $page_scope := . }}
{{ with .Param $taxonomy }}
  {{ range $index, $value := . }}
    {{- $profile_page := site.GetPage (printf "/%s/%s" $taxonomy (. | urlize)) -}}
    {{- $name := $profile_page.Params.name | default ($value|markdownify) -}}
    {{- if gt $index 0 }}, {{ end -}}
    <span itemprop="author name" itemtype="http://schema.org/Person">
      {{- with $profile_page -}}
        {{- if $page_scope.Params.no_author_link -}}
          {{$name}}
        {{- else -}}
          <a href="{{.RelPermalink}}">{{$name}}</a>
        {{- end -}}
      {{- end -}}
      {{- with $page_scope.Params.affiliation -}}
        <span class="middot-divider"></span>
        <span itemprop="affiliation">{{ . }}</span>
      {{- end -}}
    </span>
  {{- end -}}
{{ end }}
